<h4>Registro ordenado por EDAD</h4>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
            {% for libano_for in libano %}
                <tr>
                <td>{{ libano_for.nombre }}</td>
                <td>{{ libano_for.apellido }}</td>
                <td>{{ libano_for.edad }}</td>
                <td>{{ libano_for.telefono }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div><br>
    <div>
    <a href = "{% url 'home' %}"> Back Home </a><br>    
    </div>